*/fsharp/**/bin/
*/fsharp/**/obj/

*/csharp/**/bin/
*/csharp/**/obj/

*/go-simple/dist/*

*/ocaml/**/_build/
*/ocaml/**/*.cmi
*/ocaml/**/*.cmo
*/ocaml/**/*.cmx
*/ocaml/**/*.o
*/ocaml/**/a.out

**/.gradle/
**/build/

*/java/*.class

**/elm-stuff/

# Haskell
**/dist-newstyle/
