*/go-simple/dist/*

# Editor
*/**/.idea/

# Fsharp
**/fsharp/**/bin/
**/fsharp/**/obj/
**/fsharp/**/Folder.DotSettings.user

# Csharp
*/csharp/**/bin/
*/csharp/**/obj/

# OCaml
**/ocaml/**/_build/
**/ocaml/**/*.cmi
**/ocaml/**/*.cmo
**/ocaml/**/*.cmx
**/ocaml/**/*.o
**/ocaml/**/a.out

# Java
**/.gradle/
**/java/*.class

# Scala
**/scala/**/target/

# Elm
**/elm-stuff/

# Haskell
**/dist-newstyle/

# TypeScript
**/node_modules/

# Clojure
**/.nrepl-port
**/.calva/
**/.clj-kondo/
**/.lsp/

# Zig
**/zig-cache/
**/build.zig

# Erlang
**/solution.beam
